---
Checks: >
  modernize-*,
  #  readability-*,
  performance-*,
  bugprone-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  #  -readability-magic-numbers,
  # -readability-else-after-return
WarningsAsErrors: ''
#WarningsAsErrors: 'bugprone-*,performance-*'
#HeaderFilterRegex: '(src|include)/.*'
FormatStyle: file
